h1{
    font-family: Sarabun;
    font-style: bold;
    font-size: 24pt;
    color: #854b15;
    text-align: center;

}
boxText{
    font-family: Verdana;
    font-size:18pt;
    color: #4F2F1C;
    margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box{
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    background-color:#FAE8B8;
    border: 5px groove #683E1A;
}

.box:hover{
    background-color:#E3B86F;
    border: 5px groove #FAE8B8;
    box-shadow: 10pt 10pt 5pt rgb(88, 60, 44,0.8);
}
